.background {
  background-image: url("../assets/bg2.jpg");
  background-size: cover; /* Adjust this based on your preference */
  background-position: center;
  height: 100vh; /* Set to 100% of the viewport height */
  width: 100vw; /* Set to 100% of the viewport width */
}
